<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewController</key>
	<dict>
		<key>HomePageViewController</key>
		<dict>
			<key>HomePageViewController</key>
			<dict>
				<key>isLogin</key>
				<string>否</string>
				<key>EventName</key>
				<string>首页推荐页点击次数统计</string>
				<key>tips</key>
				<string>点击次数</string>
				<key>name</key>
				<string>RecommendGameTabTapCounts</string>
			</dict>
		</dict>
		<key>HNewGameViewController</key>
		<dict>
			<key>HNewGameViewController</key>
			<dict>
				<key>EventName</key>
				<string>首页新游点击次数统计</string>
				<key>isLogin</key>
				<string>否</string>
				<key>tips</key>
				<string>点击次数</string>
				<key>name</key>
				<string>NewGameTabTapCounts</string>
			</dict>
		</dict>
	</dict>
	<key>CollectionView</key>
	<dict>
		<key>KJBannerView</key>
		<dict>
			<key>eventParam</key>
			<dict>
				<key>source</key>
				<string>下载来源新游页Banner</string>
				<key>track</key>
				<string>追踪下载来源</string>
				<key>EventName</key>
				<string>新游页Banner点击次数统计</string>
				<key>isLogin</key>
				<string>否</string>
				<key>name</key>
				<string>RecommendBannerTapCounts</string>
				<key>trackFinish</key>
				<string>RecommendBannerTapFinish</string>
			</dict>
		</dict>
	</dict>
	<key>TableView</key>
	<dict>
		<key>SecondViewController/0</key>
		<dict>
			<key>viewcontroller</key>
			<false/>
			<key>EventParam</key>
			<dict>
				<key>text</key>
				<string></string>
				<key>tips</key>
				<string></string>
			</dict>
			<key>EventName</key>
			<string>灵感列表</string>
		</dict>
	</dict>
	<key>ControlEvents</key>
	<dict>
		<key>HomeBoutiqueTableViewCell</key>
		<dict>
			<key>fineGame:</key>
			<dict>
				<key>track</key>
				<string>追踪下载来源</string>
				<key>EventName</key>
				<string>推荐页精品推荐点击次数统计</string>
				<key>isLogin</key>
				<string>否</string>
				<key>source</key>
				<string>下载来源推荐页精品按钮点击</string>
				<key>name</key>
				<string>RecommendTapCounts</string>
				<key>trackFinish</key>
				<string>RecommendTapFinish</string>
			</dict>
		</dict>
		<key>HomeActivityView</key>
		<dict>
			<key>openBtn</key>
			<dict>
				<key>EventName</key>
				<string>首页活动弹框点击次数统计</string>
				<key>isLogin</key>
				<string>否</string>
				<key>tips</key>
				<string>点击次数</string>
				<key>name</key>
				<string>HomeActivityTapCounts</string>
			</dict>
		</dict>
		<key>NGSearchView</key>
		<dict>
			<key>eventDownLoad</key>
			<dict>
				<key>EventName</key>
				<string>新游排行页点击次数统计</string>
				<key>isLogin</key>
				<string>否</string>
				<key>tips</key>
				<string>点击次数</string>
				<key>name</key>
				<string>NewGameRanklistTapCounts</string>
			</dict>
			<key>eventMsg</key>
			<dict>
				<key>EventName</key>
				<string>新游新游预告页点击次数统计</string>
				<key>isLogin</key>
				<string>否</string>
				<key>tips</key>
				<string>点击次数</string>
				<key>name</key>
				<string>ForecastTapCounts</string>
			</dict>
		</dict>
	</dict>
	<key>TrackTrace</key>
	<dict>
		<key>推荐页顶部Banner6</key>
		<string>RecommendTopBanner6TapCounts</string>
		<key>推荐页顶部Banner5</key>
		<string>RecommendTopBanner5TapCounts</string>
		<key>推荐页顶部Banner4</key>
		<string>RecommendTopBanner4TapCounts</string>
		<key>推荐页顶部Banner3</key>
		<string>RecommendTopBanner3TapCounts</string>
		<key>推荐页顶部Banner2</key>
		<string>RecommendTopBanner2TapCounts</string>
		<key>推荐页顶部Banner1</key>
		<string>RecommendTopBanner1TapCounts</string>
		<key>游戏精选游戏点击</key>
		<string>GameHallSpecialTapCounts</string>
		<key>游戏大厅分类点击</key>
		<string>GameHallCategoryTapCounts</string>
		<key>新游助力领取优惠券</key>
		<string>NewGameHelpGetCouponTapCounts</string>
		<key>新游助力点击</key>
		<string>NewGameHelpTapCounts</string>
		<key>推荐页顶部Banner</key>
		<string>RecommendTopBannerTapCounts</string>
		<key>推荐页胶囊图</key>
		<string>RecommendAdvertismentTapCounts</string>
		<key>领券中心</key>
		<string>RecommendCouponTapCounts</string>
		<key>省钱月卡</key>
		<string>RecommendMonthCardTapCounts</string>
		<key>会员福利</key>
		<string>RecommendMemberTapCounts</string>
		<key>积分夺宝</key>
		<string>RecommendIntegralTapCounts</string>
		<key>任务赚金</key>
		<string>RecommendMakeMoneyTapCounts</string>
	</dict>
	<key>DynamicTrack</key>
	<dict>
		<key>自定义专题</key>
		<dict>
			<key>source</key>
			<string>下载来源推荐页自定义专题</string>
			<key>track</key>
			<string>追踪下载来源</string>
			<key>EventName</key>
			<string>推荐页自定义专题点击次数统计</string>
			<key>isLogin</key>
			<string>否</string>
			<key>name</key>
			<string>RecommendDefineTapCounts</string>
			<key>trackFinish</key>
			<string>RecommendDefineTapFinish</string>
		</dict>
		<key>本周热门</key>
		<dict>
			<key>source</key>
			<string>下载来源推荐页本周热门</string>
			<key>track</key>
			<string>追踪下载来源</string>
			<key>EventName</key>
			<string>推荐页本周热门点击次数统计</string>
			<key>isLogin</key>
			<string>否</string>
			<key>name</key>
			<string>RecommendWeekHotTapCounts</string>
			<key>trackFinish</key>
			<string>RecommendWeekHotTapFinish</string>
		</dict>
		<key>人气推荐</key>
		<dict>
			<key>source</key>
			<string>下载来源推荐页人气推荐</string>
			<key>track</key>
			<string>追踪下载来源</string>
			<key>EventName</key>
			<string>推荐页人气推荐点击次数统计</string>
			<key>isLogin</key>
			<string>否</string>
			<key>name</key>
			<string>RecommendPeopleLikeTapCounts</string>
			<key>trackFinish</key>
			<string>RecommendPeopleLikeTapFinish</string>
		</dict>
		<key>小编推荐</key>
		<dict>
			<key>source</key>
			<string>下载来源推荐页小编推荐</string>
			<key>track</key>
			<string>追踪下载来源</string>
			<key>EventName</key>
			<string>推荐页小编推荐点击次数统计</string>
			<key>isLogin</key>
			<string>否</string>
			<key>name</key>
			<string>RecommendPlatFormLikeTapCounts</string>
			<key>trackFinish</key>
			<string>RecommendPlatFormLikeTapFinish</string>
		</dict>
	</dict>
	<key>ResetDownloadParams</key>
	<dict>
		<key>HomePageViewController</key>
		<dict>
			<key>HomePageViewController</key>
			<dict>
				<key>isLogin</key>
				<string>否</string>
				<key>EventName</key>
				<string>首页推荐页点击次数统计</string>
				<key>tips</key>
				<string>点击次数</string>
				<key>name</key>
				<string>RecommendGameTabTapCounts</string>
			</dict>
		</dict>
		<key>HNewGameViewController</key>
		<dict>
			<key>HNewGameViewController</key>
			<dict>
				<key>EventName</key>
				<string>首页新游点击次数统计</string>
				<key>isLogin</key>
				<string>否</string>
				<key>tips</key>
				<string>点击次数</string>
				<key>name</key>
				<string>NewGameTabTapCounts</string>
			</dict>
		</dict>
	</dict>
	<key>NewGameAnalysis</key>
	<dict>
		<key>今日首发</key>
		<dict>
			<key>track</key>
			<string>追踪下载来源</string>
			<key>EventName</key>
			<string>新游页今日首发点击次数统计</string>
			<key>isLogin</key>
			<string>否</string>
			<key>source</key>
			<string>下载来源今日首发按钮点击</string>
			<key>name</key>
			<string>NewGameTodayPublishTapCounts</string>
			<key>trackFinish</key>
			<string>NewGameTodayPublishFinish</string>
		</dict>
		<key>推荐页顶部Banner</key>
		<dict>
			<key>track</key>
			<string>追踪下载来源</string>
			<key>EventName</key>
			<string>推荐页顶部banner点击次数统计</string>
			<key>isLogin</key>
			<string>否</string>
			<key>source</key>
			<string>下载来源推荐页顶部banner点击</string>
			<key>name</key>
			<string>RecommendTopBannerTapCounts</string>
			<key>trackFinish</key>
			<string>RecommendTopBannerFinish</string>
		</dict>
		<key>近期新游</key>
		<dict>
			<key>track</key>
			<string>追踪下载来源</string>
			<key>EventName</key>
			<string>新游页近期新游点击次数统计</string>
			<key>isLogin</key>
			<string>否</string>
			<key>source</key>
			<string>下载来源近期新游按钮点击</string>
			<key>name</key>
			<string>NewGameRecentPublishTapCounts</string>
			<key>trackFinish</key>
			<string>NewGameRecentPublishFinish</string>
		</dict>
	</dict>
	<key>TrackParamTrace</key>
	<dict>
		<key>游戏大厅分类点击</key>
		<string>GameHallCategoryTapCounts</string>
	</dict>
</dict>
</plist>
